## PANDAS BASIC ASSIGNMENT

## 1:ans:->

In [1]:
import pandas as pd

# create series
data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)

# print series
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

## 2:ans:->

In [2]:
import pandas as pd

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

my_series = pd.Series(my_list)

print(my_series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

## 3:ans:->

In [3]:
import pandas as pd

data = {'name': ['alice', 'bob', 'cloria'],
        'age': [25, 30, 27],
        'gender': ['female', 'male', 'female']}

df = pd.DataFrame(data)
print(df)

     name  age  gender
0   alice   25  female
1     bob   30    male
2  cloria   27  female

## 4:ans:->

In [ ]:
In Pandas, a DataFrame is a two-dimensional, size-mutable, tabular data structure with labeled 
axes (rows and columns). It is a highly efficient and flexible data structure that can store and 
manipulate large amounts of data.

The main difference between a DataFrame and a Series is that a Series represents a single column
of data, while a DataFrame represents multiple columns of data. In other words, a DataFrame is a
collection of Series that share the same index.

In [1]:
import pandas as pd

# create a Pandas Series
fruits = pd.Series(['Apple', 'Banana', 'Cherry', 'Durian'])
print(fruits)

0     Apple
1    Banana
2    Cherry
3    Durian
dtype: object

In [2]:
# create a Pandas DataFrame
data = {'fruits': ['Apple', 'Banana', 'Cherry', 'Durian'], 'prices': [1.2, 2.3, 3.4, 4.5]}
df = pd.DataFrame(data)
print(df)

   fruits  prices
0   Apple     1.2
1  Banana     2.3
2  Cherry     3.4
3  Durian     4.5

## 5:ans:->

In [ ]:
Pandas is a popular data manipulation library in Python, widely used for data cleaning, data analysis,
and data visualization. Here are some common functions you can use to manipulate data in a Pandas DataFrame:

1:- head() - returns the first few rows of a DataFrame
2:- tail() - returns the last few rows of a DataFrame
3:- shape - returns the dimensions of a DataFrame
4:- info() - provides a summary of the DataFrame, including data types and non-null values
5:- describe() - returns a summary of statistics for numerical columns in the DataFrame
6:- drop() - removes specified rows or columns from the DataFrame
7:- fillna() - fills missing values in the DataFrame with a specified value
8:- groupby() - groups the DataFrame by a specified column and applies a function to each group
9:- sort_values() - sorts the DataFrame by one or more columns


                            EXAMPLE :-

In [3]:
import pandas as pd

# create a sample DataFrame
df = pd.DataFrame({'name': ['Alice', 'Bob', 'Charlie', 'David', 'Emily'],
                   'department': ['Sales', 'Sales', 'Marketing', 'Marketing', 'Engineering'],
                   'salary': [50000, 60000, 70000, 80000, 90000],
                   'hire_date': ['2018-01-01', '2017-03-15', '2019-05-01', '2016-10-01', '2020-01-01']})

# group the data by department and find the highest salary in each group
max_salaries = df.groupby('department')['salary'].max()

# print the result
print(max_salaries)

department
Engineering    90000
Marketing      80000
Sales          60000
Name: salary, dtype: int64

## 6:-ans:->

In [ ]:
In pandas, both Series and DataFrame are mutable objects, meaning their values can be changed after creation.

## 7:ans:->

In [ ]:
A DataFrame is a two-dimensional data structure that can store data of different types in columns.
A Series is a one-dimensional array-like object that can hold data of any type. We can create a 
DataFrame by combining multiple Series together.

In [4]:
import pandas as pd

# create a series of names
names = pd.Series(['Alice', 'Bob', 'Charlie', 'David'])

# create a series of ages
ages = pd.Series([25, 30, 35, 40])

# create a series of salaries
salaries = pd.Series([50000, 60000, 70000, 80000])

# combine the series into a DataFrame
df = pd.DataFrame({'Name': names, 'Age': ages, 'Salary': salaries})

# print the DataFrame
print(df)

      Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   35   70000
3    David   40   80000